.title-container {
    text-align: center;
    color: #fff;
  }
  
  .conditions-container {
    text-align: center;
    color: #fff;
  }
  
  .degree-container {
    text-align: center;
    color: #fff;
    font-size: 70px;
  }
  
  .date-container {
    text-align: center;
    color: #fff;
  }
  